.page-not-found-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;

  .logo-container {
    position: absolute;
    top: 2.5%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;

    img {
      width: 50px;
      height: 50px;
    }

    .logo-text {
      letter-spacing: 8px;
    }
  }

  .page-not-found-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

    img {
      width: 10%;
      object-fit: contain;
    }

    .info-section {
      letter-spacing: 8px;
    }

    .btns {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}
