.page-not-found-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;

  .logo-container {
    position: absolute;
    top: 2.5%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;

    img {
      width: 50px;
      height: 50px;
    }

    .logo-text {
      letter-spacing: 4px;
      font-size: 64px;
      font-weight: bold;
      font-family: "Poppins", sans-serif;
      background: linear-gradient(90deg, #ff7a1a, #ff6a00, #ff7a1a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }

  .page-not-found-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

    img {
      width: 20%;
      object-fit: contain;
      filter: hue-rotate(240deg);
    }

    .btns {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
