.search-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  padding: 24px;

  .sidebar {
    width: 7.5%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 12px 8px rgba(211, 211, 211, 0.3);
  }

  .search-container {
    width: 95%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 12px 8px rgba(211, 211, 211, 0.3);

    .tabs {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 48px;
      padding: 48px;

      .tab {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        box-shadow: 0 0 12px 8px #62668c14;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 24px 8px #62668c14;
          transform: scale(1.025);
        }
      }
    }
  }
}
