.search-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  padding: 24px;

  .sidebar {
    width: 7.5%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 12px 8px rgba(211, 211, 211, 0.3);
  }

  .search-container {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 0 12px 8px rgba(211, 211, 211, 0.3);
    overflow: hidden;

    &.default {
      align-items: center;
      justify-content: center;
    }

    .search-section {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 24px;

      .image-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 20%;
        }
      }

      form {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid lightgray;
        transition: all 0.3s ease-in-out;
        border-radius: 32px;
        overflow: hidden;

        &:focus-within {
          box-shadow: 0 0 24px 8px #62668c14;
          transform: scale(1.025);
        }

        input {
          width: 100%;
          padding: 18px 36px;
          color: #3e4160;
          font-family: Manrope;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 110%; /* 13.2px */
          border: none;
          outline: none;
          background: transparent;
        }

        .search-icon-section {
          width: 15%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          padding: 18px 0;
          font-size: 14px;
          background-color: black;
          color: white;
          cursor: pointer;
        }
      }

      form {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid lightgray;
        transition: all 0.3s ease-in-out;
        border-radius: 32px;
        overflow: hidden;

        &:focus-within {
          box-shadow: 0 0 24px 8px #62668c14;
          transform: scale(1.025);
        }

        input {
          width: 100%;
          padding: 18px 36px;
          color: var(--Greys-Grey6_3E4160, #3e4160);
          font-family: Manrope;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 110%; /* 13.2px */
          border: none;
          outline: none;
          background: transparent;
        }

        .search-icon-section {
          width: 15%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          padding: 18px 0;
          font-size: 14px;
          background-color: black;
          color: white;
          cursor: pointer;
        }
      }

      .read-only-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        padding: 18px 36px;
        transition: all 0.3s ease-in-out;
        border-radius: 8px;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%; /* 13.2px */
        box-shadow: 0 0 24px 8px #62668c14;
        transform: scale(1.01);

        .copy-btn {
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: translateY(-1.5px);
          }
        }
      }

      .helper-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: small;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: translateY(-2.5px);
        }
      }
    }

    .search-results-section {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      gap: 16px;
      overflow: hidden;

      .results-section {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 12px;
        padding: 24px;
        overflow: auto;

        .search-item {
          width: 90%;
          position: relative;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          gap: 4px;
          font-family: Manrope;
          font-size: 14px;
          font-style: normal;
          line-height: 150%;
          padding: 24px;
          border-radius: 8px;
          box-shadow: 0 0 12px 8px #62668c14;
          transition: all 0.3s ease-in-out;

          &:hover {
            box-shadow: 0 0 24px 8px #62668c14;
            transform: scale(1.025);
          }

          .title-section {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 24px;

            .item-btns {
              display: flex;
              align-items: center;
              gap: 16px;

              .item-btn {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: small;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                  transform: translateY(-1.5px);
                }
              }
            }
          }
        }
      }

      .options-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          font-size: 14px;
        }
      }

      .export-section {
        position: absolute;
        top: 5%;
        right: 0%;

        button {
          font-size: small;
        }
      }
    }
  }
}

.loader-wrapper {
  flex-direction: column;
  gap: 12px;

  .logo-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 10%;
    }
  }

  .loader-section {
    height: 4px;
    width: 200px;
    background: no-repeat linear-gradient(black 0 0),
      no-repeat linear-gradient(#cecece 0 0), #858585;
    background-size: 60% 100%;
    animation: loader 2s infinite;
  }
}

@keyframes loader {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}
