.search-query-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  padding: 24px;

  .sidebar {
    width: 7.5%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 12px 8px rgba(211, 211, 211, 0.3);
  }

  .search-query-container {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 24px 48px;
    border-radius: 8px;
    box-shadow: 0 0 12px 8px rgba(211, 211, 211, 0.3);

    .header-section {
      width: 100%;
      display: flex;
      gap: 8px;
      color: #8292bd;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: 2.8px;
      text-transform: uppercase;

      .navigate-btn {
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: translateX(-1.5px);
        }
      }
    }

    .search-query-details-section {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 24px;
      padding: 24px 48px;
      overflow: hidden;

      .query-content-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 120px;
        padding: 24px 48px;
        text-align: center;
        color: #8292bd;
        font-family: Manrope;
        font-size: small;
        font-style: normal;
        line-height: 150%;
        border-radius: 8px;
        box-shadow: 0 0 12px 8px #62668c14;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          box-shadow: 0 0 24px 8px #62668c14;
          transform: scale(1.025);
        }

        .copy-btn {
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: translateY(-1.5px);
          }
        }
      }

      .search-query-options-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: Manrope;
        font-style: normal;
        line-height: 150%;

        button {
          font-size: small;
        }
      }

      .search-query-results-section {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 12px;
        padding: 24px;
        overflow: auto;

        .search-item {
          width: 90%;
          position: relative;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          gap: 4px;
          font-family: Manrope;
          font-size: 14px;
          font-style: normal;
          line-height: 150%;
          padding: 24px;
          border-radius: 8px;
          box-shadow: 0 0 12px 8px #62668c14;
          transition: all 0.3s ease-in-out;

          &:hover {
            box-shadow: 0 0 24px 8px #62668c14;
            transform: scale(1.025);
          }

          .title-section {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 24px;

            .item-btns {
              display: flex;
              align-items: center;
              gap: 16px;

              .item-btn {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: small;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                  transform: translateY(-1.5px);
                }
              }
            }
          }
        }
      }

      .empty-results-section {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
          width: 20%;
          object-fit: contain;
        }
      }
    }
  }
}
