.user-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  padding: 24px;

  .sidebar {
    width: 7.5%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 12px 8px rgba(211, 211, 211, 0.3);
  }

  .user-container {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 36px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 0 12px 8px rgba(211, 211, 211, 0.3);

    .basic-details-section {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .serpapi-details-section {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 14px;
    }

    .options-section {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
    }

    .empty-user-section {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 8px;

      .info {
        letter-spacing: 8px;
      }

      img {
        width: 10%;
        object-fit: contain;
      }
    }
  }
}
