.search-queries-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  padding: 24px;

  .sidebar {
    width: 7.5%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 12px 8px rgba(211, 211, 211, 0.3);
  }

  .search-queries-container {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    padding: 24px 48px;
    border-radius: 8px;
    box-shadow: 0 0 12px 8px rgba(211, 211, 211, 0.3);

    .header-section {
      width: 100%;
      color: #8292bd;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: 2.8px;
      text-transform: uppercase;
    }

    .search-queries-section {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      overflow: hidden;

      .search-queries-headers-section {
        width: 100%;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 4px;
      }

      .search-queries-details-section {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 24px;
        padding: 24px 0;
        overflow: auto;

        .search-query {
          width: 75%;
          display: flex;
          flex-direction: column;
          gap: 4px;
          padding: 24px;
          color: #8292bd;
          font-family: Manrope;
          font-size: small;
          font-style: normal;
          line-height: 150%;
          border-radius: 8px;
          box-shadow: 0 0 12px 8px #62668c14;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            box-shadow: 0 0 24px 8px #62668c14;
            transform: scale(1.025);
          }

          .query-content-section {
            display: flex;

            &.query-detail-section {
              display: flex;
              gap: 12px;
            }

            .query-content {
              display: flex;
              align-items: flex-start;
              gap: 8px;
            }

            .copy-btn {
              transition: all 0.3s ease-in-out;

              &:hover {
                transform: translateY(-1.5px);
              }
            }
          }
        }
      }
    }

    .pagination-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
      font-size: small;

      button {
        font-size: 10px;
      }

      .input-section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        input {
          width: 50px;
          display: flex;
          align-items: center;
          gap: 2px;
          padding: 6px 8px;
          outline: none;
          border-radius: 4px;
          border: 1px solid var(--Greys-Grey4_B1B4D5, #b1b4d5);
          background: var(--Primary-Snow-white_FFFFFF, #fff);
          color: var(--Greys-Grey6_3E4160, #3e4160);
          text-align: center;
          font-family: Manrope;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 110%; /* 13.2px */
          transition: all 0.3s ease-in-out;

          &:focus {
            box-shadow: 0 0 24px 8px #62668c14;
            transform: scale(1.025);
          }

          &::-webkit-inner-spin-button {
            display: none;
          }
        }
      }
    }

    .empty-results-section {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 8px;

      img {
        width: 20%;
        object-fit: contain;
        filter: hue-rotate(320deg);
      }
    }
  }
}
