.login-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;

  .logo-container {
    position: absolute;
    top: 2.5%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    img {
      width: 50px;
      height: 50px;
    }

    .logo-text {
      letter-spacing: 4px;
      font-size: 64px;
      font-weight: bold;
      background: linear-gradient(90deg, black, #414141, black);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }

  .users-container {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .info {
      width: 100%;
      padding: 0 24px;
      font-size: small;
    }

    .users {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      padding: 24px;
      gap: 12px;
      overflow: auto;

      .user {
        width: 100%;
        padding: 24px;
        border-radius: 8px;
        box-shadow: 0 0 12px 8px #62668c14;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          box-shadow: 0 0 24px 8px #62668c14;
          transform: scale(1.025);
        }

        .user-header-section {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          gap: 4px;
        }

        .user-body-section {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          gap: 4px;

          .content-section {
            font-size: small;

            &.serpapi-details-section {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 12px;

              .details-section {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
              }
            }
          }
        }
      }
    }
  }

  .divider {
    height: 30%;
    border: 2px solid rgba(211, 211, 211, 0.75);
    border-radius: 12px;
  }

  .form-container {
    width: 30%;
    height: 65%;
    padding: 24px;
    border-radius: 12px;
    margin-left: 24px;
    box-shadow: 0 0 12px 8px #62668c14;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 24px 8px #62668c14;
      transform: scale(1.025);
    }

    form {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 24px;
      position: relative;

      .input-section {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
      }

      .error-section {
        width: 80%;
        font-size: 12px;
        text-align: center;
      }

      .btns {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          font-size: small;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: scale(1.05) !important;
          }
        }
      }

      .register-btn {
        display: flex;
        align-items: center;
        gap: 4px;
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: small;
        text-decoration: underline;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: translateY(-1.5px);
        }
      }
    }
  }
}

.loader-wrapper {
  flex-direction: column;
  gap: 12px;

  .logo-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 5%;
    }
  }

  .loader-section {
    height: 4px;
    width: 200px;
    background: no-repeat linear-gradient(black 0 0),
      no-repeat linear-gradient(#cecece 0 0), #858585;
    background-size: 60% 100%;
    animation: loader 2s infinite;
  }
}

@keyframes loader {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}
