.login-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;

  .logo-container {
    position: absolute;
    top: 2.5%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    img {
      width: 50px;
      height: 50px;
    }

    .logo-text {
      letter-spacing: 4px;
      font-size: 64px;
      font-weight: bold;
      font-family: "Poppins", sans-serif;
      background: linear-gradient(90deg, #ff7a1a, #ff6a00, #ff7a1a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }

  .users-container {
    width: 50%;
    height: 60%;
    border: 1px solid lightgray;
  }

  .divider {
    height: 30%;
    border: 2px solid rgba(211, 211, 211, 0.75);
    border-radius: 12px;
  }

  .form-container {
    width: 30%;
    height: 60%;
    padding: 24px;
    border: 1px solid lightgray;
    border-radius: 12px;

    form {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 24px;

      .input-section {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
      }

      .btns {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          font-size: small;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: scale(1.05) !important;
          }
        }
      }
    }
  }
}
